<!--<div class="contenedor" *ngFor="let articulo of listaArticulos">
    <div>{{articulo.nombre}}</div>
    <div>{{articulo.descripcion}}</div>
    <div>Talla: {{articulo.talla}}</div>
    <div>
        <div>Precio: {{articulo.precio}}€</div>
        <div *ngIf="articulo.rebajado">Precio rebajado: {{articulo.precioRebajado}}€</div>
    </div>
    <div>
        <button>+</button>
        <button>-</button>
    </div>
</div>-->

<!--table-bordered-->
<app-banner></app-banner>
<table class="table dark-table" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Talla</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let articulo of listaArticulos">
            <td>{{articulo.nombre | uppercase}}</td>
            <td>{{articulo.descripcion}}</td>
            <td>{{articulo.talla}}</td>
            <td>
                <div>
                <div>{{articulo.precio | currency:'EUR':'symbol'}}</div>
                <div *ngIf="articulo.rebajado" class="precioRebajado">{{articulo.precioRebajado | currency:'EUR':'symbol'}}</div>
                </div>
            </td>
            <td>
                x{{articulo.cantidad}}
            </td>
            <td>
                <div>
                    <button class="btn btn-outline-secondary mx-1" (click)="articulo.incrementarCantidad()" (click)="calcularTotalCarrito()">+</button>
                    <button class="btn btn-outline-secondary mx-1" (click)="articulo.decrementarCantidad()" (click)="calcularTotalCarrito()">-</button>
                </div>
            </td>
            <td>
                <button class="btn btn-outline-secondary mx-1" (click)="eliminarProducto(articulo)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table><!--| currency:'EUR':'symbol'-->
<h1>Total :{{total | currency:'EUR':'symbol'}}</h1>
<footer>
    <h3>{{mostrarCopyright() | date:"®yyyy"}}</h3>
</footer>
