div{
    width: 100%;
    height: 100px;
    background-image: cover;
}

.hombre{
    background-image: url("../../assets/banners/bannerhombre.jpg");
}    
.mujer{
    background-image: url("../../assets/banners/bannermujer.jpg");
}